<!--//departamento/create.handlebars
--><div class="col-lg-8">
  <form action="/dept/create" method = "post">

         <div class="page-header ">
              <h1 id="tables">Adicionar Departamento</h1>
                
            </div>

            <div class="bs-component">

<div class="form-group">
                <label class="col-form-label mt-4" for="name">Nome</label>
                <input type="text" class="form-control" placeholder="Default input" id="name" name ="name" value="{{departamento.name}}">
                <div class="invalid-feedback" style = "display: block">{{showErrors errors "name"}}</div>
                
              </div>

<div class="form-group">
                <label class="col-form-label mt-4" for="sigla">sigla</label>
                <input type="text" class="form-control" placeholder="Default input" id="sigla" name ="sigla" value="{{departamento.sigla}}">
                 <div class="invalid-feedback" style = "display: block">{{showErrors errors "sigla"}}</div>
              </div>

<div class="form-group">
   <input type="hidden" name = "_csrf" value = "{{csrf}}"/><!--Cookie-->
    <button type="submit" class="btn btn-primary">Adicionar</button>
</div>

            </div><!-- /example -->
          </div>
  
  
  
  </form>
     
    


